<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ssgl</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.java.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>yhbServlet</servlet-name>
    <servlet-class>com.java.servlet.YhbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yhbServlet</servlet-name>
    <url-pattern>/yhb</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xsxxServlet</servlet-name>
    <servlet-class>com.java.servlet.XsxxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xsxxServlet</servlet-name>
    <url-pattern>/xsxx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ssxxServlet</servlet-name>
    <servlet-class>com.java.servlet.SsxxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ssxxServlet</servlet-name>
    <url-pattern>/ssxx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fkxxServlet</servlet-name>
    <servlet-class>com.java.servlet.FkxxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fkxxServlet</servlet-name>
    <url-pattern>/fkxx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bxxxServlet</servlet-name>
    <servlet-class>com.java.servlet.BxxxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bxxxServlet</servlet-name>
    <url-pattern>/bxxx</url-pattern>
  </servlet-mapping>
</web-app>